<section class="edit-page">
  <%= render 'home_trigger', opinions_path: opinions_path %>

  <h1>Edit Opinion</h1>

  <%= render 'form', opinion: @opinion, action: "Criticize!" %>
  <%= render 'footer' %>
</section>
