@import '../base/variables';
@import '../base/mixins';

body {
  background-color: $my-bg;

  @include scrollbar;
}

.index-page {
  color: $my-black;

  nav {
    a {
      text-decoration: none;
    }
  }

  .pseudo-nav {
    position: absolute;
    top: 45px;
    right: 50px;
    display: flex;

    .category-wrapper {
      position: relative;

      .category-trigger {
        cursor: pointer;
        font-size: 19px;
        color: $my-white;
        margin-right: 20px;

        &:hover {
          color: $my-brown;
        }
      }

      .category-list {
        position: absolute;
        top: 25px;
        right: 20%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        visibility: hidden;
        background-color: $my-white-2;
        padding: 5px 10px;
        
        li {
          margin: 5px 7.5px;
          
          a {
            text-decoration: none;
            color: $my-black;

            &:hover {
              color: $my-brown;
            }
          }
        }
      }
  
      .show {
        visibility: visible;
      }
    }

    .create-opinion {
      a {
        text-decoration: none;
        font-size: 18px;
        color: $my-white;

        &:hover {
          color: $my-brown;
        }
      }
    }
  }

  .opinions-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: 15vh 0 5vh 0;

    .opinion {
      @include perimeter(300px, 70%);
      position: relative;
      font-size: 18px;
      margin: 5vmin 0;
      background-color: $my-white-2;
      filter: brightness(80%);

      &:hover {
        filter: brightness(100%);
      }

      a {
        text-decoration: none;
        color: $my-black;

        .up {
          @include perimeter(50%, 100%);
  
          .image {
            @include perimeter(100%, 100%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            pointer-events: none;
          }
        }
  
        .down {
          @include perimeter(45%, 100%);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0 0 0;
  
          .category {
            position: absolute;
            top: -8%;
            font-size: 24px;
            padding: 5px 10px 2.5px 10px;
            background-color: $my-bg-2;
            color: $my-white;
          }
    
          .subject {
            font-size: 22px;
            color: $my-orange;
            text-align: center;
          }
    
          .body {
            padding: 0 10px;
            word-wrap: break-word;
            text-align: center;
          }
    
          .rating {
            text-align: center;
          }
  
          a {
            text-decoration: none;
            cursor: pointer;
            color: $my-black;
  
            &:hover {
              color: $my-orange;
            }
          }
        }
      }
    }
  }
}