@import '../base/variables';
@import '../base/mixins';

.show-page {
  .category {
    @include perimeter(auto, fit-content);
    margin: 3vmin auto;
    font-size: 36px;
    padding: 10px 25px;
    background-color: $my-bg-2;
    color: $my-white;
  }

  .image {
    @include perimeter(40vh, 40vw);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    margin: auto;
  }

  .subject {
    margin: 3vh 0;
    font-size: 40px;
    color: $my-orange;
    text-align: center;
  }

  .rating {
    font-size: 30px;
    text-align: center;
  }

  .body {
    @include perimeter(auto, 40vw);
    color: $my-white;
    line-height: 1.1;
    margin: 3vh auto;
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;
    border-top: 2px solid $my-white;
    border-bottom: 2px solid $my-white;
    padding: 30px 0;
  }

  .edit-label {
    font-size: 14px;
    color: $my-white-2;
    margin: 15vh 0 0 0;
    text-align: center;

    span {
      color: $my-orange;
    }
  }

  .modify-trigger {
    @include perimeter(auto, fit-content);
    display: flex;
    margin: 1vh auto 3.5vh auto;
    
    button, input {
      cursor: pointer;
      color: $my-white;
      background-color: $my-bg-2;
      padding: 5px 10px;
      font-size: 16px;
      border-radius: 10px;
      border: none;
      margin: 0 5px;

      &:hover {
        color: $my-brown;
      }
    }
  }
}