$my-font: 'Archivo', sans-serif;
$my-white: hsl(0, 0%, 80%);
$my-white-2: hsl(0, 0%, 70%);
$my-bg: hsl(225, 6%, 13%);
$my-bg-2: hsl(225, 6%, 20%);
$my-brown: hsl(22, 100%, 50%);
$my-orange: #80461B;
$my-black: hsl(0, 0%, 10%);
$my-filter: invert(51%) sepia(68%) saturate(5114%) hue-rotate(1deg) brightness(102%) contrast(103%);